header.header
    .wrapper
        +menu-line 
        .section-content
            p.section-content__promo SOCIAL MARKETING &#38; ANALYTICS
            h1.section-content__title Pricing Table
            p.section-content__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut.
        a(href="#main").arrow
            svg.arrow__icon
                use(xlink:href="#reshot-icon-arrow-down-GW5P4C826K (1)")