main.main#main
    .wrapper 
        .main-section-content 
            p.main-section-content__promo MISOCIAL
            h2.main-section-content__title Select a Plan 
            p.main-section-content__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut.
        .useful-thinks 
            +card('0', '#card_img_one')
            +card('29', '#card_img_two')
            +card('49', '#card_img_tree', 'tree-card')
    .main-picture 
        .section-content
            p.main-section-content__promo SOCIAL MARKETING &#38; ANALYTICS
            h1.section-content__title Take control of your data
            .buttons
                a.menu-line__link.menu-line__button(href="#") get started
                a.menu-line__link.menu-line__button(href="#") explore features